@import "variables.scss";
@import "material-box-shadow.scss";

nav {
    z-index: 500;
    user-select: none;
    .main {
        @include MaterialBoxShadow(4);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 54px;
        display: grid;
        background-color: white;
        // justify-content: center;
        align-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            margin-left: 16px;
            display: flex;
            align-items: center;
            .logo {
                display: block;
                content: " ";
                height: 48px;
                width: 48px;
                // @include MaterialBoxShadow(1);
                border-radius: 8px;
                background-image: url($logo-url);
                background-size: contain;
                margin-right: 8px;
            }
            .title {
            }
        }
        .right {
            margin-right: 32px;
            #version {
                transition: color 250ms ease-in-out;
            }
        }
        a {
            font-size: 18px;
            width: min-content;
        }
    }
    .spacer {
        height: 54px;
    }
}

.theme-dark {
    nav {
        .main {
            background-color: #1d1d1d;
        }
    }
}

.theme-black {
    nav {
        .main {
            background-color: lighten(#000000, 10%);
        }
    }
}
