@import "variables.scss";

nav {
    .main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 64px;
        border-bottom: $border;
        display: grid;
        background-color: white;
        // justify-content: center;
        align-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right {
            margin-right: 32px;
            #version {
                transition: color 250ms ease-in-out;
            }
        }
        .left {
            margin-left: 32px;
        }
        a {
            font-size: 18px;
            width: min-content;
        }
    }
    .spacer {
        height: 64px;
    }
}
