@import "variables.scss";
@import "material-box-shadow.scss";

.dse-question_answer-collection {
    > * {
        margin-bottom: 16px;
    }
}

.dse-question_answer {
    @include MaterialBoxShadow(2);

    border-radius: 16px;
    padding: 16px;
    padding-bottom: 24px;

    position: relative;

    .dse-question_share {
        @include MaterialBoxShadow(2);
        cursor: pointer;
        border-radius: 100px;
        position: absolute;
        top: -8px;
        right: -8px;
        height: 32px;
        width: 32px;
        border: none;
        background-color: white;
        transform: scale(1);
        transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out,
            color 250ms ease-in-out;
    }
    .dse-question_share:hover {
        color: $primary-color;
    }
    .dse-question_share:hover {
        transform: scale(1.05);

        @include MaterialBoxShadow(3);
    }
    .dse-question_share:active {
        transform: scale(0.95);

        @include MaterialBoxShadow(1);
    }

    blockquote {
        margin-left: 16px;
        p {
            font-family: "Noto Serif TC", serif;
        }
    }

    .dse-question,
    .dse-answer,
    .dse-explanation {
        position: relative;
        margin-top: 16px;
    }
    .dse-question::before,
    .dse-answer::before,
    .dse-explanation::before {
        content: " ";
        margin-top: 30px;
        margin-left: 3.25px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.12);
        width: 3px;
        border-radius: 100px;
        height: calc(100% - 32px);
        transition: box-shadow 250ms ease-in-out,
            background-color 250ms ease-in-out;
    }
    .dse-question:hover::before,
    .dse-answer:hover::before,
    .dse-explanation:hover::before {
        background-color: lighten($primary-color, 15%);
        @include MaterialBoxShadow(0);
    }
    .dse-list {
        display: grid;
        grid-template-columns: min-content 1fr;
        .dse-list-prefix {
            min-width: $prefix-min-width;
            // margin-top: 3.5px;
            margin-right: 8px;
            font-weight: bold;
        }
        .dse-list-content {
        }
    }
    .dse-text {
        display: grid;
        grid-template-columns: min-content 1fr;
        .dse-style-quote {
            font-family: "Noto Serif TC", serif;
        }
        .dse-text-prefix {
            min-width: $prefix-min-width;
            // margin-top: 3.5px;
            margin-right: 8px;
            font-weight: bold;
            @media screen and (max-width: 500px) {
                min-width: 14px;
                margin-right: 0;
            }
        }
        .dse-text-content {
            display: inline-block;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }
    .dse-table {
        // margin-top: 8px;
        // margin-bottom: 8px;
        .dse-table-cell {
            padding: 8px;
            border: $border;
            margin-left: -2px;
            margin-top: -2px;
            border-radius: 3px;
            @media screen and (max-width: 500px) {
                padding: 2px;
            }
        }
    }
    // @media screen and (max-width: 500px) {
    //     font-size: 12px;
    // }
}

.theme-dark {
    .dse-question_answer {
        color: #e1e1e1;
        background-color: #1d1d1d;
        .dse-question_share {
            background-color: lighten(#1d1d1d, 5%);
            color: #e1e1e1;
        }
        .dse-question_share:hover {
            color: $primary-color;
        }
        .dse-question::before,
        .dse-answer::before,
        .dse-explanation::before {
            content: " ";
            background-color: lighten(#000000, 30%);
        }
        .dse-question:hover::before,
        .dse-answer:hover::before,
        .dse-explanation:hover::before {
            background-color: lighten($primary-color, 15%);
            @include MaterialBoxShadow(0);
        }
        .dse-list {
            .dse-list-prefix {
                color: #e1e1e1;
            }
        }
        .dse-text {
            .dse-text-prefix {
                color: #e1e1e1;
            }
            .dse-text-content {
                color: #e1e1e1;
            }
        }
    }
}

.theme-black {
    .dse-question_answer {
        color: white;
        background-color: lighten(#000000, 5%);
        .dse-question_share {
            background-color: lighten(#000000, 10%);
            color: white;
        }
        .dse-question_share:hover {
            color: $primary-color;
        }
        .dse-question::before,
        .dse-answer::before,
        .dse-explanation::before {
            content: " ";
            background-color: lighten(#000000, 20%);
        }
        .dse-question:hover::before,
        .dse-answer:hover::before,
        .dse-explanation:hover::before {
            background-color: lighten($primary-color, 15%);
            @include MaterialBoxShadow(0);
        }
        .dse-list {
            .dse-list-prefix {
                color: #ffffff;
            }
        }
        .dse-text {
            .dse-text-prefix {
                color: #ffffff;
            }
            .dse-text-content {
                color: #ffffff;
            }
        }
    }
}
