@import "variables.scss";
@import "material-box-shadow.scss";

.fabs {
    position: fixed;
    bottom: 16px;
    right: 16px;
    .fab {
        background-color: white;
        cursor: pointer;
        height: 56px;
        width: 56px;
        border-radius: 500px;
        display: grid;
        place-items: center;
        transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
        @include MaterialBoxShadow(2);
        color: black;

        i {
            font-size: 18px;
        }
    }
    .fab:hover {
        color: $primary-color;
        @include MaterialBoxShadow(3);
    }
    .fab:active {
        @include MaterialBoxShadow(1);
    }
}

.theme-dark {
    .fabs {
        .fab {
            background-color: lighten(#1d1d1d, 5%);
            color: #e1e1e1;
        }
        .fab:hover {
            color: $primary-color;
        }
    }
}

.theme-black {
    .fabs {
        .fab {
            background-color: lighten(#000000, 5%);
            color: #ffffff;
        }
        .fab:hover {
            color: $primary-color;
        }
    }
}
