@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap");

@import "variables.scss";

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Noto Sans TC", sans-serif;
    font-family: "Noto Sans TC", sans-serif;
    line-height: 150%;
}

a,
.clicky {
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;
}

body {
    display: grid;
    justify-content: center;
    main {
        // width: 100%;
        max-width: 800px;
    }
}

html {
    min-height: 100vh;
    overflow-y: scroll;
}
